.container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y291bnRyeXxlbnwwfHwwfHw%3D&w=1000&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  color: black;
  text-shadow: 1px 0px 4px gold;
}

.text {
  color: aquamarine;
  font-size: 40px;
  text-shadow: none;
}
