.container {
  min-height: 100vh;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.country {
  display: flex;
  flex-direction: column;
}