.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid grey;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 30px;
  font-size: 20px;

  div {
    font-weight: bold;
  }

  span {
    padding-right: 30px;
    font-size: 18px;
    color: blue;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.contactsItem {
  display: flex;
  flex-direction: column;
}